/* Default classes */

a {
    font-weight: 200;
    color: #000000;
}

/* custom classes */

.title-container {
    font-family: Arial, sans-serif;
    color: #000000;
    background-color: #808080;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0,5fr 0.25fr;
}

.logo {
    grid-row: 1 / 2
}

.title {
    grid-row: 1 / 1;
    grid-column: 2 / 5;

    padding-top: 2%;
    margin-right: 28%;

    /* font-size: 40px; */
    font-size: 3em;
    text-align: center;
}

.subtitle {
    grid-row: 2 / 2;
    grid-column: 2 / 4;
    
    text-align: center;
    font-size: 25px;
    font-style: bold;
}

.elt {
    grid-row: 3 / 3;
    /* margin-bottom: 1%; */
    margin-top: 1%;
    padding-top: 5px;
    padding-bottom: 1%;

    font-size: 25px;
    text-align: center;

    border: 1px #000000 solid;
}

.elt:hover {
    background-color: #000000;
    color: rgb(178, 178, 178);
}

.elt1 {
    grid-column: 1;
}

.elt2 {
    grid-column: 2;
}

.elt3 {
    grid-column: 3;
}

.elt4 {
    grid-column: 4;
}

.elt5 {
    grid-column: 5;
}

/* The paragraphs */

body {
    background-color: #0f0f0f;
    color: #ffffff;

    text-align: center;
}

.section {
    font-size: 50px;
    background-color: #808080;
    color: #000000;

    margin-top: 1%;
}

.dossier {
    font-size: x-large;
}


/* Les tableaux  */

caption {
    font-size:xx-large;
    font-weight: bold;

    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    border-collapse: collapse;
    margin: auto;
    width: 80%;
}

td, th {
    border: 1px solid rgb(255, 255, 255);
    padding: 15px;

    padding: 50px;

    font-size: xx-large;
    font-weight: 400;
}

/* Unique class */

.Formulaire {
    color: white;
}